@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Styles glassmorphisme pour le menu burger */
.bg-glass {
  background: rgba(240, 237, 237, 0.799); 
  border-radius: 15px 40px 20px 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  border: 3px solid rgba(255, 255, 255, 0.25); 
  backdrop-filter: blur(0.5px); /* Effet de flou pour le glassmorphisme */
  -webkit-backdrop-filter: blur(10px); /* Compatibilité Safari */
  margin-bottom: 10px;


}
